.container.expenses {
    
}
.container.expenses .expenses-h2 {
    background-color: gray;
    color: white;
    height: 81px;
}
.container.expenses h2 {
    border-radius: 0px;
    float: left;
}
.container.expenses .annual {
    margin-right: 40px;
}
.container.expenses .buttons {
    background-color: black;
    border-radius: 0px;
    color: white;
    height: 39px;
}
.container.expenses .spend {
    background-color: black;
    float: left;
    margin-right: 60px;
}
.container.expenses .deduction {
    float: left;
    margin-bottom: 25px;
    background-color: black;
}
.container.expenses ul {
    list-style: none;
    padding: 15px;
}
.container.expenses ul li {
    align-items: center;
    display: flex;
    float: left;
    justify-content: center;
    vertical-align: middle;
    width: 100%;
}
.container.expenses ol ul {
    line-height: 1.9;
    padding: 0px;
    margin-bottom: 30px;
    text-decoration: none;
}
.container.expenses span {
    display: inline-block;
    float: left;
    text-align: center;
    vertical-align: middle;
    width: 50%;
}
.container.expenses span {
    /*background-color: gray;
  color: white;
  float: right;
  width: 100px;
  text-align: center;
  border-radius: 30px;
  height: 50px;
  width: 200px;
  font-size: 35px;*/
}
