.container.expenses {
  margin: 15px auto;
  margin-top: 15px;
  margin-right: auto;
  margin-bottom: 15px;
  margin-left: auto;
  padding-top: 45px;
}
.container.expenses .expenses-h2 {
  background-color: gray;
  color: white;
  height: 81px;
}
.container.expenses h2 {
  float: left;
  border-radius: 0px;
}
.container.expenses .annual {
  margin-right: 40px;
}
.container.expenses .buttons {
  background-color: black;
  color: white;
  border-radius: 0px;
  height: 39px;
}
.container.expenses .spend {
  margin-right: 60px;
  float: left;
  background-color: black;
}
.container.expenses .deduction {
  float: left;
  margin-bottom: 25px;
  background-color: black;
}
.container.expenses ol {
  width: 80%;
}
.container.expenses ol ul {
  text-decoration: none;
  padding: 0px;
  margin-bottom: 30px;
  line-height: 1.9;
}
.container.expenses span {
  background-color: gray;
  color: white;
  float: right;
  width: 100px;
  text-align: center;
  border-radius: 30px;
  height: 50px;
  width: 200px;
  font-size: 35px;
}
