.container.home{
  margin: 15px auto;
  background-color: blue;
}
.container.home .wmy-tabs a{
  width: 33.33%;
  float: left;
  background-color: #333;
  font-size: 40px;
  height: 50px;
  text-align: center;
}
.container.home .arrows{
  width: 8%;
  background-color: gray;
  font-size: 23px;
  margin-left: 75px;
  float: left;
}
.container.home .total{
  text-align: center;
}
.container.home .total-sum{
  width: 82%;
  margin-top: 0px;
  margin-bottom: 0px;
  float: left;
}
.container.home h3{
  width: 80%;
  background-color: gray;
  border: 1px solid gray;
  border-radius: 10px;
}
.container.home .deductions small{
  text-align: center;
  line-height: 1.5px;
}
.container.home .black-line{
  background-color: #333;
  color: #fff;
  line-height: 1.5;
  text-align: center;
}

/*--------------------------------------------------------------------
## RESPONSIVE TABLET LANDSCAPE
--------------------------------------------------------------------*/
@media (max-width: 1024px) and (orientation: landscape) {

}
/*--------------------------------------------------------------------
## RESPONSIVE TABLET PORTRAIT
--------------------------------------------------------------------*/
@media (max-width: 1024px) and (orientation: portrait) {

}
/*--------------------------------------------------------------------
## RESPONSIVE MOBILE LANDSCAPE
--------------------------------------------------------------------*/
@media (max-width: 768px) and (orientation: landscape) {

}
/*--------------------------------------------------------------------
## RESPONSIVE MOBILE PORTRAIT
--------------------------------------------------------------------*/
@media (max-width: 768px) and (orientation: portrait) {

}
