.container.home{
  margin: 15px auto;
  padding-top: 45px;
}
.container.home h3{
  background-color: black;
  border-radius: 25px;
  color: white;
  display: inline-block;
  height: 30px;
}
.container.home .arrows{
  font-size: 23px;
  float: left;
  margin-left: 75px;
  position: relative;
  right: 25px;
  top: 20px;
  z-index: -1;
}
.container.home .black-line{
  background-color: #333;
  border-radius: 0px;
  color: #fff;
  text-align: center;
  width: 100%;
}
.container.home .deductions{
  text-align: center;
}
.container.home .deductions h3{
  margin-bottom: 0px;
  text-align: center;
}
.container.home .deductions .money{
  width: 30%
}
.container.home .deductions p{
  text-align: center;
}
.container.home .total{
  float: left;
  position: relative;
  height: 90px;
  text-align: center;
  width: 263px;
}
.container.home .total h3{
  float: left;
  left: 30px;
  position: relative;
  width: 60%;
  z-index: -1;
}
.container.home .graph{
  border: 1px solid black;
  float: left;
  height: 210px;
  text-align: center;
  width: 100%;
}
.container.home .next-tax-payment{
  text-align: center;
}
.container.home .next-tax-payment h3{
  margin-bottom: 0px;
  text-align: center;
}
.container.home .next-tax-payment .money{
  width: 30%;
}
.container.home .next-tax-payment p{
  text-align: center;
}
.container.home .wmy-tabs{
  height: 60px;
  width: 100%;
}
.container.home .wmy-tabs a{
  background-color: #333;
  display: inline-block;
  font-size: 40px;
  float: left;
  height: auto;
  text-align: center;
  width: 33.33%;
}
.container.home .wmy-tabs button{
  height: 60px;
  min-width: 100%;
  padding: 0px;
  text-align: center;
  width: 100%;
}
/*--------------------------------------------------------------------
## RESPONSIVE TABLET LANDSCAPE
--------------------------------------------------------------------*/
@media (max-width: 1024px) and (orientation: landscape) {

}
/*--------------------------------------------------------------------
## RESPONSIVE TABLET PORTRAIT
--------------------------------------------------------------------*/
@media (max-width: 1024px) and (orientation: portrait) {

}
/*--------------------------------------------------------------------
## RESPONSIVE MOBILE LANDSCAPE
--------------------------------------------------------------------*/
@media (max-width: 768px) and (orientation: landscape) {

}
/*--------------------------------------------------------------------
## RESPONSIVE MOBILE PORTRAIT
--------------------------------------------------------------------*/
@media (max-width: 768px) and (orientation: portrait) {

}
