/* CSS styles for settings.html */

.container.settings {
  margin: 15px auto;
}

.container.settings .bar {
  background-color: #333;
  color: #fff;
  height: 20px;

}

.container.settings .right{
  float: right;
}

.container.settings ul {
  list-style: none;
  padding: 0;
}
/*.container.settings ul {
  text-align: center;
  list-style: none;
  padding: 0;
}

.container.settings button {
  background-color: blue;
  border: 1px solid #333;
  border-radius: 0;
  height: 90px;
  margin: 0 15px;
  min-width: 90px;
  padding: 0;

}
.container.settings .fa.fa-plus {
  font-size: 45px;
}

.container.settings span {
  display: inline-block;
  padding: 5px 15px;
  text-align: left;
}*/
/*--------------------------------------------------------------------
# RESPONSIVE
--------------------------------------------------------------------*/
/*--------------------------------------------------------------------
## RESPONSIVE TABLET LANDSCAPE
--------------------------------------------------------------------*/
@media (max-width: 1024px) and (orientation: landscape) {

}
/*--------------------------------------------------------------------
## RESPONSIVE TABLET PORTRAIT
--------------------------------------------------------------------*/
@media (max-width: 1024px) and (orientation: portrait) {

}
/*--------------------------------------------------------------------
## RESPONSIVE MOBILE LANDSCAPE
--------------------------------------------------------------------*/
@media (max-width: 768px) and (orientation: landscape) {

}
/*--------------------------------------------------------------------
## RESPONSIVE MOBILE PORTRAIT
--------------------------------------------------------------------*/
@media (max-width: 768px) and (orientation: portrait) {

}
