* {

}

body, html {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
}

h1 {
    font-family: "Oswald", "Roboto", sans-serif;
    font-size: 2.25em;
}

h2 {
    font-family: "Oswald", "Roboto", sans-serif;
    font-size: 2em;
}

h3 {
    font-family: "Oswald", "Roboto", sans-serif;
    font-size: 1.8em;
}

h4 {
    font-family: "Oswald", "Roboto", sans-serif;
    font-size: 1.5em;
}

h5 {
    font-family: "Oswald", "Roboto", sans-serif;
    font-size: 1.25em;
}

h6 {
    font-family: "Oswald", "Roboto", sans-serif;
    font-size: 1.15em;
}

p {
    font-family: "Oswald", "Roboto", sans-serif;
    font-size: 1em;
}

a {
    font-family: "Oswald", "Roboto", sans-serif;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

a:focus {
    color: inherit;
}

a:active {
    color: inherit;
}

a:visited {
    color: inherit;
}

button {
    display: block;
    margin: 10px auto;
    min-width: 240px;
    height: 38px;
    border-radius: 4px;
    border: none;
    padding: 10px 20px;
    color: #fff;
    background-color: #333;
    cursor: pointer;
}

.button:hover {
}

ul, ol {

}

li {

}

.card {

}

.wrapper {

}

header {
    width: 100%;
    background: #333;
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
}

header nav {
    text-align: center;
    height: inherit;
}

header nav img {
    height: 100%;
    width: auto;
}

.container {
    padding: 60px 5px;
}

section.container {
    margin: 10px auto;
    max-width: 400px;
    height: 100vh;
}

.drawer {
    height: 50%;
    width: 100%;
    position: fixed;
    max-width: 400px;
    background-color: rgba(44,44,44,.5);
    transition-duration: 500s;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition: transform 500ms;
    transform: translateY(150%);
}

.drawer p {
    padding: 10px;
}

/********************************************************************
HELPER STYLES
 *******************************************************************/

.flex-center-stacked {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    align-self: center;
    -webkit-align-self: center;
    justify-content: center;
    -webkit-justify-content: center;
    flex-flow: column wrap;
    -webkit-flex-flow: column wrap;
}

.center-text {
    text-align: center;
    width: 100%;
    float: left;
}


/********************************************************************
TABS STYLES
 *******************************************************************/

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #333;
    color: #fff;
    width: 100%;
    float: left;
    text-align: center;
}

footer nav {
    display: inline-block;
    width: 50%;
    text-align: center;
}

footer nav a {
    display: inline-block;
    vertical-align: middle;
    width: 15%;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
}

footer nav a:hover {
    background-color: #fff;
    color: #333;
    text-decoration: none;
}

footer nav a .fa {
    font-size: 24px;
    text-decoration: none;
    margin: 4px auto;
}

footer nav a .fa, footer nav a small {
    display: block;
}


/********************************************************************
RESPONSIVE STYLES
 *******************************************************************/

@media (max-width: 1024px) and (orientation: landscape) {

}

@media (max-width: 1024px) and (orientation: portrait) {

}

@media (max-width: 767px) and (orientation: landscape) {
    footer nav {
        width: 100%;
        display: inline-table;
    }

    footer nav a {
        width: 25%;
        padding: 5px 0;
    }
}

@media (max-width: 767px) and (orientation: portrait) {
    footer nav {
        width: 100%;
        display: inline-table;
    }

    footer nav a {
        width: 25%;
        padding: 5px 0;
    }
}