<div class="container transactions">
    <nav class="nav-tabs half">
        <a href="#/transactions">
            <button>Transactions Added</button>
        </a>
        <a href="#/transactions/reviewed">
            <button>Transactions Reviewed</button>
        </a>
    </nav>
    <!-- <ul ng-repeat="transaction in model.transactions"> -->
    <ul class="transaction">
        <li>
            <label for="">Title:</label>
            <p>{transaction.title}</p>
        </li>
        <li>
            <label for="">Date:</label>
            <p>{transaction.dateCreated}</p>
        </li>
        <li>
            <label for="">Amount:</label>
            <p>{transaction.amount}</p>
        </li>
        <li>
            <label for="">Receipt:</label>
            <a href="#">{transaction.receiptLink}</a>
        </li>
    </ul>
</div>
