<div class="container transactions">
    <a href="#/transactions">Transactions Added</a>
    <a href="#/transactions/reviewed">Transactions Reviewed</a>
    <div class="bar"></div>
    <ul style="list-style: none;">
      <li>
        <ul>
          <li>
            Title: <span>Sephora</span>
          </li>
          <li>
            Date: <span>Nov 4, 2016</span>
          </li>
          <li>
            Amount: <span>$112</span>
          </li>
          <li>
            Receipt: <a href="#">Link to receipt</a>
          </li>
        </ul>
      </li>
      <li>
        <ul>
          <li>
            Title: <span>Sally's Beauty Supply</span>
          </li>
          <li>
            Date: <span>Nov 28, 2016</span>
          </li>
          <li>
            Amount: <span>$104.60</span>
          </li>
          <li>
            Receipt: <a href="#">Link to receipt</a>
          </li>
        </ul>
      </li>
      <li>
        <ul>
          <li>
            Title: <span>Make-Up Forever</span>
          </li>
          <li>
            Date: <span>Dec 6, 2016</span>
          </li>
          <li>
            Amount: <span>$125.75</span>
          </li>
          <li>
            Receipt: <a href="#">Link to receipt</a>
          </li>
        </ul>
      </li>
      <li>
        <ul>
          <li>
            Title: <span>MAC Cosmetics</span>
          </li>
          <li>
            Date: <span>Dec 13, 2016</span>
          </li>
          <li>
            Amount: <span>$69.99  </span>
          </li>
          <li>
            Receipt: <a href="#">Link to receipt</a>
          </li>
        </ul>
      </li>
    </ul>
</div>
