<div class="container">
    <h2>
      <a href="#/expenses/annual">Annual Spending</a>
    </h2>
    <h2>
      <a href="#/expenses/quarterly">Quarterly Spending</a>
    </h2>
    <button>Spending Amount</button>
    <button>Deduction Amount</button>
    <ol>
      <li>
        Advertising <span>$0</span>
      </li>
      <li>
        Assets <span>$0</span>
      </li>
      <li>
        Car &amp; Truck <span>$0</span>
      </li>
      <li>
        Commisions &amp; Fees <span>$0</span>
      </li>
      <li>
        Contract Labor <span>$0</span>
      </li>
      <li>
        Healthcare <span>$0</span>
      </li>
      <li>
        Insurance <span>$0</span>
      </li>
      <li>
        Interest Paid <span>$0</span>
      </li>
      <li>
        Professional Services <span>$0</span>
      </li>
      <li>
        Materials &amp; Supplies <span>$0</span>
      </li>
      <li>
        Meals &amp; Entertainment <span>$0</span>
      </li>
      <li>
        Miscellaneous <span>$0</span>
      </li>
    </ol>
</div>
