<div class="container expenses">
    <nav class="nav-tabs half">
        <a href="#/expenses/annual">
            <button>Spending Amount</button>
        </a>
        <a href="#/expenses/quarterly">
            <button>Deduction Amount</button>
        </a>
    </nav>
    <ul>
        <li>
            <span>Advertising</span>
            <span>
                <label class="total">$10</label>
            </span>
        </li>
        <li>
            <span>Assets</span>
            <span>
                <label class="total">$20</label>
            </span>
        </li>
        <li>
            <span>Car &amp; Truck</span>
            <span>
                <label class="total">$30</label>
            </span>
        </li>
        <li>
            <span>Commisions</span>
            <span>
                <label class="total">$40</label>
            </span>
        </li>
        <li>
            <span>Contract Labor</span>
            <span>
                <label class="total">$40</label>
            </span>
        </li>
        <li>
            <span>Healthcare</span>
            <span>
                <label class="total">$40</label>
            </span>
        </li>
        <li>
            <span>Insurance</span>
            <span>
                <label class="total">$40</label>
            </span>
        </li>
        <li>
            <span>Interest Paid</span>
            <span>
                <label class="total">$40</label>
            </span>
        </li>
        <li>
            <span>Professional Services</span>
            <span>
                <label class="total">$40</label>
            </span>
        </li>
        <li>
            <span>Materials &amp; Supplies</span>
            <span>
                <label class="total">$40</label>
            </span>
        </li>
        <li>
            <span>Meals &amp; Entertainment</span>
            <span>
                <label class="total">$40</label>
            </span>
        </li>
        <li>
            <span>Meals &amp; Miscellaneous</span>
            <span>
                <label class="total">$40</label>
            </span>
        </li>
    </ul>
</div>
