<div class="container expenses">
  <div class="expenses-h2">
    <h2>
      <a class="annual" href="#/expenses/annual">Annual Spending</a>
    </h2>
    <h2>
      <a href="#/expenses/quarterly">Quarterly Spending</a>
    </h2>
  </div>
  <div class="buttons">
    <button class="spend">Spending Amount</button>
    <button class="deduction">Deduction Amount</button>
  </div>
    <ol>
      <ul>
        Advertising <span>$10</span>
      </ul>
      <ul>
        Assets <span>$20</span>
      </ul>
      <ul>
        Car &amp; Truck <span>$30</span>
      </ul>
      <ul>
        Commisions &amp; Fees <span>$40</span>
      </ul>
      <ul>
        Contract Labor <span>$50</span>
      </ul>
      <ul>
        Healthcare <span>$60</span>
      </ul>
      <ul>
        Insurance <span>$70</span>
      </ul>
      <ul>
        Interest Paid <span>$80</span>
      </ul>
      <ul>
        Professional Services <span>$90</span>
      </ul>
      <ul>
        Materials &amp; Supplies <span>$100</span>
      </ul>
      <ul>
        Meals &amp; Entertainment <span>$200</span>
      </ul>
      <ul>
        Miscellaneous <span>$300</span>
      </ul>
    </ol>
</div>
