<div class="container">
    <h1>Month</h1>
    <p>Within this container will go the ng-include
        / ng-switch / ng-switch when code for the four different screens
    </p>
    <a href="#/home/week">Week</a>
    <a href="#/home/month">Month</a>
    <a href="#/home">YTD</a>

    <div class="Month-arrowup">
        <ol id="Month-money-arrowup">$7,863</ol>
    </div>
    <div class="Month-money-arrowdown">
        <ol id="Month-money-arrowdown">$2,991</ol>
    </div>

    <div class="Month-total">
        <h3 id="Month-total-money">$4,092
        </h3>
    </div>

    <div class="Month-graph-data">
    </div>

    <div class="Month-deductions-total">
        <h2>
            Deductions
        </h2>
        <ol id="Month-deductions-total-money">$100</ol>
    </div>
        <small id="Month-deduction-number">
            100 Deductions
        </small>

    <div class="Month-next-tax-payment">
        <h2>
            Next Tax Payment
        </h2>
        <ol id="Month-tax-amount">$978</ol>
        <small id="Month-due-date">
            Due September 4, 2017
        </small>
    </div>
</div>
