<div class="container home">
    <nav class="nav-tabs third">
        <a href="#/home/week">
            <button>Week</button>
        </a>
        <a href="#/home/month">
            <button>Month</button>
        </a>
        <a href="#/home">
            <button>YTD</button>
        </a>
    </nav>
    <div class="arrows">
        <i class="fa fa-sort-asc" aria-hidden="true"></i>
        <small id="month-arrowup">$5,883</small>
        <br>
        <i class="fa fa-sort-desc" aria-hidden="true"></i>
        <small id="month-arrowdown">$4,391</small>
    </div>

    <label class="total">$1,092</label>

    <div class="graph">Graph Goes Here</div>

    <div class="deductions">
        <h3 class="black-line">Deductions</h3>
        <label class="total">$0</label>
        <p>0 Deductions</p>
    </div>

    <div class="next-tax-payment">
        <h3 class="black-line">Next Tax Payment</h3>
        <label class="total">$678</label>
        <p>Due September 19, 2017</p>
    </div>
</div>
