<div class="container">
  <!---
  <h1>Week</h1>

  <p>Within this container will go the ng-include
  / ng-switch / ng-switch when code for the four different screens
</p>
------>
  <nav class="wmy-tabs">
      <a href="#/home/week">
          <button>
              Week
          </button>
      </a>
      <a href="#/home/month">
          <button>
              Month
          </button>
      </a>
      <a href="#/home">
          <button>
              YTD
          </button>
      </a>
  </nav>
  <div class="week-arrows">
      <i class="fa fa-sort-asc" aria-hidden="true"></i>
      <small id="week-arrowup">$2,883</small>
      <i class="fa fa-sort-desc" aria-hidden="true"></i>
      <small id="week-arrowdown">$6,491</small>
  </div>

  <div class="week-total">
    <h3>$1,892</h3>
  </div>

  <div class="week-graph">Graph Goes Here</div>

  <div class="week-deductions">
    <h3>Deductions</h3>
    <h3>$400</h3>
    <small>3 Deductions</small>
  </div>

  <div class="week-tax-payment">
    <h3>Next Tax Payment</h3>
    <h3>$200</h3>
    <small>Due March 20, 2017</small>
  </div>
</div>
