<div class="container">
    <h1>Week</h1>
    <p>Within this container will go the ng-include
        / ng-switch / ng-switch when code for the four different screens
    </p>
    <a href="#/home/week">Week</a>
    <a href="#/home/month">Month</a>
    <a href="#/home">YTD</a>

<div class="week-arrowup">
    <ol id="week-money-arrowup">$5,883</ol>
</div>
<div class="week-money-arrowdown">
    <ol id="week-money-arrowdown">$4,391</ol>
</div>

<div class="week-total">
    <h3 id="week-total-money">$1,092
    </h3>
</div>

<div class="week-graph-data">
</div>

<div class="week-deductions-total">
    <h2>
        Deductions
    </h2>
    <ol id="week-deductions-total-money">$0</ol>
</div>
    <small id="week-deduction-number">
        0 Deductions
    </small>

<div class="week-next-tax-payment">
    <h2>
        Next Tax Payment
    </h2>
    <ol id="week-tax-amount">$678</ol>
    <small id="week-due-date">
        Due September 19, 2017
    </small>
</div>
</div>
