<div class="container home">
  <!---
  <h1>Week</h1>

  <p>Within this container will go the ng-include
  / ng-switch / ng-switch when code for the four different screens
</p>
------>
  <nav class="wmy-tabs clearfix">
      <a href="#/home/week">
          <button>
              Week
          </button>
      </a>
      <a href="#/home/month">
          <button>
              Month
          </button>
      </a>
      <a href="#/home">
          <button>
              YTD
          </button>
      </a>
  </nav>
  <div class="arrows">
      <i class="fa fa-sort-asc" aria-hidden="true"></i>
      <small id="week-arrowup">$2,883</small>
      <br>
      <i class="fa fa-sort-desc" aria-hidden="true"></i>
      <small id="week-arrowdown">$6,491</small>
  </div>

  <div class="total">
    <h3>$1,892</h3>
  </div>

  <div class="graph">Graph Goes Here</div>

  <div class="deductions">
    <h3 class="black-line">Deductions</h3>
    <h3>$400</h3>
    <p>3 Deductions</p>
  </div>

  <div class="next-tax-payment">
    <h3 class="black-line">Next Tax Payment</h3>
    <h3>$200</h3>
    <p>Due March 20, 2017</p>
  </div>
</div>
