<section class="container login flex-center-stacked">
    <div>
        <img class="logo" alt="logo" src="./img/logo.png" />
        <a ng-click="model.login($event)" id="login-facebook">
            <button type="button" name="button" class="login-btn">LOGIN WITH FACEBOOK</button>
        </a>

        <a ng-click="model.login($event)" id="login-google">
            <button type="button" name="button" class="login-btn">LOGIN WITH GOOGLE</button>
        </a>

        <a ng-click="model.learnMore()" id="learn-more" class="center-text">
            Learn More
        </a>
    </div>

    <div class="drawer" id="about">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi repudiandae inventore,
            vel nostrum. Ut quasi doloribus praesentium quisquam voluptates tenetur necessitatibus
            possimus molestiae delectus dicta, provident recusandae maiores tempore adipisci.
        </p>
    </div>
</section>
