<div class="container scheduler">
  <div class="calendar">CALENDAR GOES HERE</div>
  <h1>Appointments</h1>
  <ul id="appointments">
    <li class="appointment">
      <ul>
        <li>
          <label>Client</label>
          <span>Ashley</span>
        </li>
        <li>
          <label>Service</label>
          <span>Glam Makeup Application</span>
        </li>
        <li>
          <label>Amount</label>
          <span>$50</span>
        </li>
      </ul>
    </li>
  </ul>
  <div ng-show="model.showModal">
    <ng-include src="'views/components/scheduler-form.html'"/>
  </div>
  <button ng-click="model.toggleModal()">
    <i class="fa fa-plus" aria-hidden="true"></i>
  </button>
</div>
