<div class="container scheduler">
  <div class="calendar">CALENDAR GOES HERE</div>
  <h1>Appointments</h1>
  <ul id="appointments">
    <li class="entry">
      <ul>
        <li>
          <div class="line-subject">Client</div>
          <span>Ashley</span>
        </li>
        <li>
          <div class="line-subject">Service</div>
          <span>Glam Makeup Application</span>
        </li>
        <li>
          <div class="line-subject">Amount</div>
          <span>$50</span>
        </li>
      </ul>
    </li>
  </ul>
  <button>
    <i class="fa fa-plus" aria-hidden="true"></i>
  </button>
</div>
