<div class="container">
  <ul style="list-style: none;">
    <li>
      <label class="">Account</label>
      <span>jsingh@email.com</span>
    </li>

    <li>
      <label class="">Subscription</label>
      <span>Free Trail</span>
      <a><i class="fa fa-angle-right" aria-hidden="true"></i></a>
    </li>

    <li>
      <label>Bank Accounts</label>
      <a><i class="fa fa-angle-right" aria-hidden="true"></i></a>
    </li>

    <li>
      <label>Tax Profile</label>
      <a><i class="fa fa-angle-right" aria-hidden="true"></i></a>
    </li>

    <li>
      <label>Rules</label>
      <a><i class="fa fa-angle-right" aria-hidden="true"></i></a>
    </li>

    <li>
      <label>Reports</label>
      <a><i class="fa fa-angle-right" aria-hidden="true"></i></a>
    </li>

    <li>
      <label>Push Notifications</label>
      <button></button>
    </li>

    <li>
      <label>Save Receipts to Camara Roll</label>
      <button></button>
    </li>

    <li>
      <label>Touch ID and App PIN</label>
      <a><i class="fa fa-angle-right" aria-hidden="true"></i></a>
    </li>

    <li>
      <label>Legal</label>
      <a><i class="fa fa-angle-right" aria-hidden="true"></i></a>
    </li>
  </ul>
</div>
