<div class="container">
  <ul style="list-style: none;">

    <li><a href="">Account</a> <span>jsingh@email.com</span></li>
    <li><a href="">Subscription <span>Free Trail</span> <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
    <li><a href="">Bank Accounts <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
    <li><a href="">Tax Profile <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
    <li><a href="">Rules <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
    <li><a href="">Reports <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
    <li><a href="">Push Notifications</a><label class="switch"><input type="checkbox"><div class="slider round"></div></label></li>
    <li><a href="">Save Receipts to Camara Roll</a><label class="switch"><input type="checkbox"><div class="slider round"></div></label></li>
    <li><a href="">Touch ID and App PIN <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
    <li><a href="">Legal <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>

  </ul>


</div>
