<div class="container settings">
  <ul style="list-style: none;">
    <li>
      <label class="left">Account</label>
      <span class="right">jsingh@email.com</span>
    </li>

    <li>
      <label>Subscription</label>
      <div class="right">
        <span>Free Trial</span>
        <a><i class="fa fa-angle-right" aria-hidden="true"></i></a>
     </div>
    </li>

    <div class="bar"></div>

    <li>
      <label>Bank Accounts</label>
      <a class="right"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
    </li>

    <li>
      <label>Tax Profile</label>
      <a class="right"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
    </li>

    <li>
      <label>Rules</label>
      <a class="right"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
    </li>

    <li>
      <label>Reports</label>
      <a class="right"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
    </li>

    <div class="bar"></div>

    <li>
      <label>Push Notifications</label>
      <div class="right onoffswitch">
       <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
       <label class="onoffswitch-label" for="myonoffswitch"></label>
      </div>
    </li>

    <li>
      <label>Save Receipts to Camara Roll</label>
      <div class="right onoffswitch">
       <input type="checkbox" name="switch" class="switch-checkbox" id="switch" checked>
       <label class="switch-label" for="switch"></label>
      </div>
    </li>

    <li>
      <label>Touch ID and App PIN</label>
      <a class="right"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
    </li>

    <div class="bar"></div>

    <li>
      <label>Legal</label>
      <a class="right"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
    </li>
  </ul>



</div>
