<form class="expenses-form" action="index.html" method="post">
  <label for="expenses-name">Name</label>
  <input ng-model="expense.name"
         id="expenses-name" type="text" name="expenses-name"
         value="">
  <label for="expenses-amount">Amount</label>
  <input ng-model="expense.amount"
         id="expenses-amount" type="text" name="expenses-amount" value="">
  <button ng-click="model.createExpense(expense)" type="button" name="button">Save
  </button>
  <a ng-click="model.toggleModal()">Close</a>
</form>