<form class="scheduler-form" action="index.html" method="post">
  <label for="scheduler-name">Client</label>
  <input id="scheduler-name" type="text" name="scheduler-name" value="">
  <label for="scheduler-amount">Service</label>
  <input id="scheduler-amount" type="text" name="scheduler-amount" value="">
  <label for="scheduler-name">Amount</label>
  <input id="scheduler-name" type="text" name="scheduler-name" value="">
  <button type="button" name="button">Save</button>
  <a ng-click="model.toggleModal()">Close</a>
</form>
