<!-- TABS FOR THE NAV -->
<footer>
    <nav>
        <a href="#/home">
            <!--<span class="glyphicon glyphicon-home"></span>-->
            <i class="fa fa-home" aria-hidden="true"></i>
            <small>Home</small>
        </a>
        <a href="#/scheduler">
            <!--<span class="glyphicon glyphicon-calendar"></span>-->
            <i class="fa fa-calendar-o" aria-hidden="true"></i>
            <small>Scheduler</small>
        </a>
        <a href="#/transactions">
            <!--<span class="glyphicon glyphicon-refresh"></span>-->
            <i class="fa fa-refresh" aria-hidden="true"></i>
            <small>Transactions</small>
        </a>
        <a href="#/expenses">
            <!--<span class="glyphicon glyphicon-usd"></span>-->
            <i class="fa fa-usd" aria-hidden="true"></i>
            <small>Expenses</small>
        </a>
    </nav>
</footer>